/* CSS for the hotel list */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hotel {
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.hotel img {
    max-width: 100%;
    height: auto;
}

.hotel h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.hotel p {
    font-size: 1rem;
    margin-top: 10px;
}

.hotel button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hotel button a {
    text-decoration: none;
    color: #fff;
}

.hotel button:hover {
    background-color: #555;
    transform: scale(1.05);
}
