body {
    padding: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 300px;
    border:1px solid #00000000;
}

input[type=text], input[type=password] {
    border-radius: 100px/80px;  
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    border-radius: 100px/80px;  
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

hr {
    border-radius: 10px;
    border: 1px solid #f1f1f100;
    margin-bottom: 25px;
}

button {
    text-align: center;
    background-color: #87CEFA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    border-radius: 100px/80px;
    padding: 14px 20px;
    background-color: #87CEFA;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
